.logo {
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
}

.logo > a {
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 0.6rem;
}

.logo :hover {
  background-color: rgba(128, 128, 128, 0.75);
}
